@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-public-sans), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-public-sans), sans-serif;
}

@plugin "daisyui/theme" {
  name: "gl-dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  /* Base */
  --color-base-content: #eaefef; /* text */

  --color-base-100: #f2f3f6; /* background */
  --color-base-200: #000000;
  --color-base-300: #eaefef;

  /* Brand colors */
  /* --color-primary: #333446;
  --color-primary-content: #eaefef; */
  --color-primary: #464748;
  --color-primary-content: #eaefef;
  /* --color-primary: #7f8caa;
  --color-primary-content: #eaefef; */

  /* --color-secondary: #7f8caa;
  --color-secondary-content: #eaefef; */

  --color-secondary: #000000;
  --color-secondary-content: #eaefef;

  --color-accent: #f37037;
  --color-accent-content: #eaefef;

  --color-neutral: #f37037;
  --color-neutral-content: #333446;

  /* Status colors (harmonized with your palette) */
  --color-info: #e6e7e8; /* muted blue */
  --color-info-content: #000000;
  --color-success: #b8cfce; /* calm greenish tone */
  --color-success-content: #333446;
  --color-warning: #ffd580; /* warm subtle yellow */
  --color-warning-content: #333446;
  --color-error: #e57373; /* soft red */
  --color-error-content: #eaefef;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "gl-light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* Base */
  --color-base-content: #000000; /* text */

  --color-base-100: #f2f3f6; /* background */
  --color-base-200: #e6e7e8;
  --color-base-300: #eaefef;

  /* Brand colors */
  /* --color-primary: #333446;
  --color-primary-content: #eaefef; */
  --color-primary: #f2f3f6;
  --color-primary-content: #000000;
  /* --color-primary: #7f8caa;
  --color-primary-content: #eaefef; */

  /* --color-secondary: #7f8caa;
  --color-secondary-content: #eaefef; */

  --color-secondary: #000000;
  --color-secondary-content: #eaefef;

  --color-accent: #f37037;
  --color-accent-content: #eaefef;

  --color-neutral: #f37037;
  --color-neutral-content: #333446;

  /* Status colors (harmonized with your palette) */
  --color-info: #e6e7e8; /* muted blue */
  --color-info-content: #000000;
  --color-success: #b8cfce; /* calm greenish tone */
  --color-success-content: #333446;
  --color-warning: #ffd580; /* warm subtle yellow */
  --color-warning-content: #333446;
  --color-error: #e57373; /* soft red */
  --color-error-content: #eaefef;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "gl-purple";
  default: false;
  prefersdark: false;
  color-scheme: dark;

  /* Base */
  --color-base-content: #eaefef; /* text */

  --color-base-100: #374151;
  /* background */
  --color-base-200: #333446;
  --color-base-300: #b8cfce;
  --color-base-400: #7f8caa;

  /* Brand colors */
  /* --color-primary: #333446;
  --color-primary-content: #eaefef; */
  --color-primary: #374151;
  --color-primary-content: #eaefef;
  /* --color-primary: #7f8caa;
  --color-primary-content: #eaefef; */

  /* --color-secondary: #7f8caa;
  --color-secondary-content: #eaefef; */

  --color-secondary: #333446;
  --color-secondary-content: #eaefef;

  --color-accent: #7f8caa;
  --color-accent-content: #eaefef;

  --color-neutral: #eaefef;
  --color-neutral-content: #333446;

  /* Status colors (harmonized with your palette) */
  --color-info: #7f8caa;
  /* muted blue */
  --color-info-content: #eaefef;
  --color-success: #b8cfce;
  /* calm greenish tone */
  --color-success-content: #333446;
  --color-warning: #ffd580;
  /* warm subtle yellow */
  --color-warning-content: #333446;
  --color-error: #e57373;
  /* soft red */
  --color-error-content: #eaefef;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}


